{% extends 'base.html' %} {% block title %}Cartify &mdash; Login{% endblock
title %} {% block content %}
<!-- Auth Section -->
<section id="auth" class="container">
  <div class="auth">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="auth__alert {{ category }}">
      <div class="auth__alert---text">{{ message }}</div>
      <div class="auth__alert---close-btn">
        <span>&times;</span>
      </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <h2 class="form__title">Login</h2>
    <div class="form__reminder">
      Don't have an account? <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form class="form" method="POST">
      {{ form.hidden_tag() }}
      <div class="form__input">{{form.email()}}</div>
      <div class="form__input">{{form.password()}}</div>
      <div class="form__submit">{{form.submit()}}</div>
    </form>
  </div>
</section>
<!-- ! Auth Section end -->
{% endblock content %}
